@font-face {
	font-family: "PressStart2P";
	src: url(./assets/PressStart2P.woff2) format("woff2");
}

:root {
	--background-color: #282b38;
	--dark-color: #0c071c;
	--font-color: #9b9fa8;
	--accent-color: #ff4d4d;
	--color-p1: #58dbfc;
	--color-p2: #fce958;
	--font-base: monospace;
	--font-accent: "PressStart2P";
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-base);
	background-color: var(--background-color);
	color: var(--font-color);
}

:is(h1, h2, h3, h4, h5, h6) {
	color: var(--accent-color);
	text-align: center;
	font-family: var(--font-accent);
}

:is(h1) {
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

:is(a) {
	color: var(--accent-color);
}

[hidden] {
	display: none !important;
}

#canvas {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-height: 80vh;
	max-width: calc(80vh * 16 / 9);
	aspect-ratio: 16/9;
	margin: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin-bottom: 10rem;
}

#canvas:focus {
	outline: 1px solid rgba(255, 255, 255, 0.3);
}

.controls {
	display: flex;
	gap: 5rem;
	justify-content: center;
	margin-bottom: 10rem;
}

.controls__cursor,
.controls__attack,
.controls__block {
	list-style: none;
	display: inline-grid;
	gap: 0.1rem;
	padding: 0;
	font-size: 1.5rem;
	margin-right: 1rem;
	vertical-align: middle;
}

.controls__attack,
.controls__block {
	grid-template-columns: auto auto;
}

.controls__cursor {
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

.controls__cursor li:first-of-type {
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	justify-content: center;
}

.controls__group p {
	font-size: 1.5rem;
}

.controls__group svg {
	width: 7rem;
	aspect-ratio: 1.1/1;
	vertical-align: middle;
	color: var(--dark-color);
}

.controls__group.move svg {
	--gamepad-move: var(--accent-color);
}

.controls__group.attack svg {
	--gamepad-attack: var(--accent-color);
}

.controls__group.block svg {
	--gamepad-block: var(--accent-color);
}

:is(kbd) {
	background: var(--dark-color);
	padding: 0.5rem;
	display: inline-block;
}

.color-p1 {
	color: var(--color-p1);
}

.color-p2 {
	color: var(--color-p2);
}
